DB_HOST=cloudsql-proxy
DB_PORT=5432
DB_USER=cs3219
DB_PASSWORD=secretpassword
DB_NAME=postgres

GOOGLE_IMAGE_BUCKET=/secrets/question-upload-key.json

INTERNAL_SERVICE_API_KEY=secretapikey
API_GATEWAY_SERVER=http://localhost:8080/v1/api