VITE_CLERK_PUBLISHABLE_KEY=
VITE_BACKEND_API_ENDPOINT=http://localhost:3001/v1/api
VITE_COLLABORATION_API_ENDPOINT=http://localhost:3003/v1/api
VITE_COLLABORATION_SOCKET_ENDPOINT=http://localhost:3003
