MS_SERVER_PORT=5000
MS_REDIS_URL=redis://127.0.0.1:6379
MS_ENV=development
MS_API_GATEWAY_URL=http://localhost:8080
MS_COLLABORATION_SESSION_PATH=/v1/api/sessions
MS_DEPENDENCY_TIMEOUT_MS=5000
US_INTERNAL_SERVICE_API_KEY=your-internal-service-api-key
US_INTERNAL_SERVICE_URL=http://localhost:3001
MS_COLLABORATION_SERVICE_URL=http://localhost:3003
MS_INTERNAL_SERVICE_API_KEY=your-internal-service-api-key

MS_GCP_PUBSUB_ENABLED=true
MS_GCP_PROJECT_ID=your-project-id
MS_GCP_PUBSUB_TOPIC=matching-events
MS_GCP_PUBSUB_SUBSCRIPTION=matching-events-sub
GOOGLE_APPLICATION_CREDENTIALS=/path/to/credentials.json
