API_BASE_URI=http://localhost
PORT=3001
API_VERSION=v1
FRONTEND_ORIGIN=http://localhost:5173
MODE=dev
LOG_LEVEL=info

DATABASE_URI=secret_database_uri
PORT=3001
INTERNAL_SERVICE_API_KEY=secret_internal_service_api_key

CLERK_PUBLISHABLE_KEY=secret_clerk_publishable_key
CLERK_SECRET_KEY=secret_clerk_secret_key
CLERK_WEBHOOK_SIGNING_SECRET=secret_clerk_webhook_signing_secret
CLERK_WEBHOOK_API=secret_clerk_webhook_api
CLERK_SUPERUSER_ID=secret_clerk_superuser_id

NGROK_FORWARDING_URL=secret_ngrok_forwarding_url
NGROK_domain_run_in_terminal=secret_ngrok_domain_run_in_terminal