API_GATEWAY_SERVER=http://localhost:8080/v1/api
US_INTERNAL_SERVICE_API_KEY=secretapikey
MS_INTERNAL_SERVICE_API_KEY=secretapikey

MS_SERVER_PORT=3002
MS_ENV=development
MS_REDIS_URL=redis://matching-redis:6379
US_INTERNAL_SERVICE_URL=http://user-service:3001
MS_COLLABORATION_SERVICE_URL=http://collaboration-service:3003
GOOGLE_APPLICATION_CREDENTIALS=/secrets/peerprep-pubsub-key.json
RABBITMQ_URL=amqp://rabbitmq:5672